body {
    font-family: 'Gill sans', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    background-color: #8a6060;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(header1.jpg);
    background-color: #dcbdc3;
    height: 300px;
    padding: 4px;
}

#wrapper {
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
    padding: 32px;
}
